<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mybatispluscodegeneral.mapper.DictBedMapper">

    <!-- 基本映射 -->
    <resultMap id="dict_bed_mapper" type="com.example.mybatispluscodegeneral.entity.DictBed">
        <result column="id" property="id" />
        <result column="weight" property="weight" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="create_by" property="createBy" />
        <result column="update_by" property="updateBy" />
        <result column="version" property="version" />
        <result column="deleted" property="deleted" />
        <result column="extra" property="extra" />
        <result column="tenant_id" property="tenantId" />
        <result column="cn_name" property="cnName" />
        <result column="en_name" property="enName" />
        <result column="description" property="description" />
    </resultMap>

    <!-- 通用字段视图 -->
    <sql id="base_column">
        ${prefix}id,${prefix}weight,${prefix}create_time,${prefix}update_time,${prefix}create_by,${prefix}update_by,${prefix}version,${prefix}deleted,${prefix}extra,${prefix}tenant_id
    </sql>

    <!-- 表主要字段视图 -->
    <sql id="dict_bed_column">
        ${prefix}id,${prefix}cn_name,${prefix}en_name,${prefix}description
    </sql>
    <!-- ================================ 新增SQL ================================ -->


    <!-- ================================ 基础SQL ================================ -->
    <select id="listByIds" resultType="com.example.mybatispluscodegeneral.entity.DictBed">
        select
        <include refid="dict_bed_column"><property name="prefix" value="${name}."/></include>,<include refid="base_column"><property name="prefix" value="${name}."/></include>
        from dict_bed where id in (
        <foreach collection="ids" item="item" separator=",">
            #{item}
        </foreach>
        )
    </select>

    <insert id="saveBatch"  useGeneratedKeys="true" keyProperty="id">>
        INSERT INTO dict_bed
        (id,weight,create_time,update_time,create_by,update_by,version,deleted,extra,tenant_id,cn_name,en_name,description)
        VALUES <foreach collection="objs" item="item" separator=",">
        (#{item.id},#{item.weight},#{item.createTime},#{item.updateTime},#{item.createBy},#{item.updateBy},#{item.version},#{item.deleted},#{item.extra},#{item.tenantId},#{item.cnName},#{item.enName},#{item.description})
        </foreach>
    </insert>
</mapper>
