<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mybatispluscodegeneral.mapper.UserMapper">

    <!-- 基本映射 -->
    <resultMap id="info_user_mapper" type="com.example.mybatispluscodegeneral.entity.User">
        <result column="id" property="id" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="create_by" property="createBy" />
        <result column="update_by" property="updateBy" />
        <result column="version" property="version" />
        <result column="deleted" property="deleted" />
        <result column="extra" property="extra" />
        <result column="weight" property="weight" />
        <result column="tenant_id" property="tenantId" />
        <result column="user_name" property="userName" />
        <result column="full_name" property="fullName" />
        <result column="password" property="password" />
        <result column="enabled" property="enabled" />
    </resultMap>

    <!-- 通用字段视图 -->
    <sql id="base_column">
        ${prefix}id,${prefix}create_time,${prefix}update_time,${prefix}create_by,${prefix}update_by,${prefix}version,${prefix}deleted,${prefix}extra,${prefix}weight,${prefix}tenant_id
    </sql>

    <!-- 表主要字段视图 -->
    <sql id="info_user_column">
        ${prefix}id,${prefix}user_name,${prefix}full_name,${prefix}password,${prefix}enabled
    </sql>
    <!-- ================================ 新增SQL ================================ -->


    <!-- ================================ 基础SQL ================================ -->
    <select id="listByIds" resultType="com.example.mybatispluscodegeneral.entity.User">
        select
        <include refid="info_user_column"><property name="prefix" value="${name}."/></include>,<include refid="base_column"><property name="prefix" value="${name}."/></include>
        from info_user where id in (
        <foreach collection="ids" item="item" separator=",">
            #{item}
        </foreach>
        )
    </select>

    <insert id="saveBatch"  useGeneratedKeys="true" keyProperty="id">>
        INSERT INTO info_user
        (id,create_time,update_time,create_by,update_by,version,deleted,extra,weight,tenant_id,user_name,full_name,password,enabled)
        VALUES <foreach collection="objs" item="item" separator=",">
        (#{item.id},#{item.createTime},#{item.updateTime},#{item.createBy},#{item.updateBy},#{item.version},#{item.deleted},#{item.extra},#{item.weight},#{item.tenantId},#{item.userName},#{item.fullName},#{item.password},#{item.enabled})
        </foreach>
    </insert>
</mapper>
